                                                            /* Responsive  untuk tablet*/
                                                            
                                                            @media screen and ( max-width: 1000px) {
                                                                nav {
                                                                    width: 100%;
                                                                }
                                                                .top-wrapper {
                                                                    height: auto;
                                                                }
                                                                .top-wrapper h1 {
                                                                    font-size: 36px;
                                                                    margin-bottom: 10px;
                                                                    line-height: 30px;
                                                                }
                                                                .top-wrapper p {
                                                                    font-size: 18px;
                                                                }
                                                                footer {
                                                                    width: fit-content;
                                                                }
                                                                .footer-list1 {
                                                                    width: 50%;
                                                                    font-size: 18px;
                                                                    padding: 20px 10px;
                                                                }
                                                                .footer-list {
                                                                    font-size: 18px;
                                                                }
                                                            }
                                                            /* Responsive  untuk smartphone*/
                                                            
                                                            @media screen and (max-width: 670px) {
                                                                nav {
                                                                    width: 100%;
                                                                    padding-left: 0px;
                                                                }
                                                                nav ul {
                                                                    width: 100%;
                                                                    font-size: 14px;
                                                                    padding-left: 20px;
                                                                }
                                                                nav .header-logo {
                                                                    font-size: 24px;
                                                                }
                                                                .top-wrapper {
                                                                    height: auto;
                                                                }
                                                                .top-wrapper h1 {
                                                                    font-size: 24px;
                                                                    margin-bottom: 10px;
                                                                    line-height: 20px;
                                                                }
                                                                .top-wrapper p {
                                                                    font-size: 14px;
                                                                }
                                                                footer {
                                                                    flex-direction: column;
                                                                    text-align: center;
                                                                    width: auto;
                                                                }
                                                                .footer-logo {
                                                                    font-size: 25px;
                                                                }
                                                                .title {
                                                                    font-size: 1px;
                                                                }
                                                                .footer-list,
                                                                .footer-list1 {
                                                                    width: 100%;
                                                                    text-align: center;
                                                                    padding: 10px;
                                                                }
                                                                .footer-list li {
                                                                    width: 100%;
                                                                    font-size: 12px;
                                                                }
                                                                .main-title1,
                                                                .title,
                                                                .main-title {
                                                                    font-size: 16px;
                                                                    margin: 0;
                                                                    width: 100%;
                                                                    margin: 10px 5px;
                                                                    padding-bottom: 25px;
                                                                }
                                                                .footer-list h3 {
                                                                    font-size: 16px;
                                                                }
                                                            }